.badge-orange {
    font-size: 14px;
    font-family: var(--accent-font);
    font-weight: 400;
    background-color: var(--accent-color);
    border-radius: 16px;
    padding: 6px 12px 6px 12px;
    margin: 8px 0px 16px 0px;
}