/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-button a {
    text-decoration: none;
}

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: var(--nav-hover-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 22px;
    color: var(--contrast-color);
    line-height: 0;
}

.scroll-top:hover {
    background-color: color-mix(in srgb, var(--nav-hover-color), transparent 20%);
    color: var(--contrast-color);
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}