.card {
    padding: 24px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(110, 123, 131, 0.15);
    position: relative;
    top: 0;
    transition: top ease 0.5s;

    &:hover { top: -5px; }

    img {
        border-radius: 15px;
        border: 1px solid var(--background-dark);
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    p {
        font-size: 14px;
        line-height: 1.3;
        @media (max-width: 1199px) { font-size: 16px; }
    }

    @media (max-width: 992px) { padding: 16px; }
}

.card-large {
    height: 340px;
    padding: 0px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    &:hover { top: 0px; }

    .card-img {
        border-radius: 24px;
        border: 1px solid var(--background-dark);
        object-position: top;
        object-fit: cover;
        width: 100%; 
        height: 100%; 
        filter: blur(3px);

        @media (max-width: 767px) {
            border-radius: 0px;
        }
    }

    .card-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 200px;
        padding: 16px;
    }

    h1 {
        font-size: 20px;
        font-family: var(--default-font);
        text-transform: none;
    }

    .card-text {
        font-size: 16px;
        padding-top: 16px;
        color: #c9cdd2;
        a {
            color: #c9cdd2;
            &:hover { color: var(--accent-color); opacity: 1; }
        }
    }

    @media (max-width: 1199px) { border-radius: 0px; }
}

.card-overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1250px;
    z-index: 10;

    @media (max-width: 1400px) { width: 1024px; }
    @media (max-width: 1199px) { width: 100%; }
    @media (max-width: 767px) { width: 100%; } // Можно объединить с верхним
}

.custom-overlay {
    background-color: rgba(69, 80, 91, 0.85);
    padding: 5rem;
    color: #ffffff;
}