/*--------------------------------------------------------------
# Navmenu
--------------------------------------------------------------*/
.navmenu {
    padding: 0;
    z-index: 9997;
}

.navmenu ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
    width: 180px;
}

.navmenu a,
.navmenu a:focus {
    color: var(--nav-color);
    font-family: var(--nav-font);
    display: flex;
    align-items: center;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1;
    border: 0.1px solid #eef6fd;
    border-radius: 50px;
    background: color-mix(in srgb, var(--nav-hover-color), transparent 92%);
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    white-space: nowrap;
}

.navmenu a i,
.navmenu a:focus i {
    font-size: 20px;
}

.navmenu a span,
.navmenu a:focus span {
    padding: 0 0px 0 16px;
}

@media (min-width: 1200px) {

    .navmenu a,
    .navmenu a:focus {
    max-width: 56px;
    }

    .navmenu a span,
    .navmenu a:focus span {
    display: none;
    }
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus,
.navmenu li:hover>a {
    color: var(--contrast-color);
    background: var(--nav-hover-color);
    text-decoration: none;
}

.navmenu a:hover,
.navmenu li:hover>a {
    max-width: 100%;
    color: var(--contrast-color);
}

.navmenu a:hover span,
.navmenu li:hover>a span {
    display: block;
}