.service-card {
    background-color: var(--background-white);
    padding: 32px;
    border-radius: 24px;
    border: 2px solid var(--background-dark); // Аккуратный светлый бордер
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    h3 {
        margin-top: 0;
        margin-bottom: 16px;
        color: var(--heading-color);
    }

    p {
        margin-bottom: 24px;
        line-height: 1.6;
    }

    // &:hover {
    //     transform: translateY(-5px);
    //     box-shadow: 0px 10px 20px rgba(110, 123, 131, 0.05);
    // }
}

.badges-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.badge-outline {
    display: inline-block;
    padding: 4px 16px;
    border: 1px solid var(--accent-color); // Оранжевая обводка
    border-radius: 16px;
    font-size: 14px;
    font-family: var(--default-font);
    color: var(--default-color);
    background-color: transparent;
    transition: all 0.3s ease;

    // &:hover {
    //     background-color: var(--accent-color);
    //     color: var(--contrast-color);
    // }
}